h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.002em;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.link {
    text-decoration: none;
}
.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;

}
/* HEADER STYLES */
.page-header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 16 auto;
}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320;
    height: 56px;
}

.burger-button {
    background-color: inherit;
    border: none;
    width: 24px;
    height: 24px;
    /* display: block; */

    
    
}

.logo {
    margin-right: 76px;
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.sub-logo {
    color: var(--NAVY-BLUE, #2E2F42);
}
/* HERO SECTION */
.hero-section {
    background-color: #2e2f42;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
}
.hero-section-image {
    background-image:
        linear-gradient(to bottom,
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
        url(../images/hero-image-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-section-title {
    max-width: 288px;
    margin: 0 auto;
    color: var(--WHITE, #FFF);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.order-button {
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #FFF);
    /* Button Text */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
        /* 150% */
    letter-spacing: 0.64px;
}
/* HERO SECTION END */

/* all sections */
.section {
    padding-top:96px;
    padding-bottom: 96px;
}
.section-title {
    margin-top: 192px;
    margin-bottom: 72px;
        color: var(--NAVY-BLUE, #2E2F42);
            text-align: center;
        
            /* Header 2 */
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.1;
            /* 111.111% */
            letter-spacing: 0.02em;
            text-transform: capitalize;
}
/* SECTION 2 FEATURES */

.features-menu {
    display: inline-flex;
    gap: 72px;
    flex-direction: column;
    align-items: flex-start;
    
}
.features-menu-item {
    display: flex;
    width: 288px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.list-title {
    align-self: stretch;
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
    
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.description {
    align-self: stretch;
    color: var(--SLATE, #434455);
    
        /* Body Medium */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
/* SECTION 2 FEATURES END */
/* SECTION 3 OUR TEAM */
.our-team-section {
    background-color: var(--CLOUD, #F4F4FD);
}
.team-list {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.image-background {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;

}
.worker-card {
    display: flex;
        width: 264px;
        padding-bottom: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.worker {
    display: flex;
        width: 232px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
}
.worker-name {
    color: var(--NAVY-BLUE, #2E2F42);
    
        text-align: center;
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.worker-desc {
    color: var(--SLATE, #434455);
        text-align: center;
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social-item {
    width: 40px;
    height: 40px;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* SECTION 3 OUR TEAM END */

/* SECTION 4 OUR PORTFOLIO */
 .portfolio {
    width: 288px;
    flex-shrink: 0;
 }
 .portfolio-item {
    display: flex;
        width: 288px;
        padding-bottom: 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    border: 1px solid var(--CLOUD, #F4F4FD);
        background: var(--WHITE, #FFF);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 }
 .item-desc {
    display: flex;
        padding: 0px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
 }
 .portfolio-list-title {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 3 */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
 }

 /* END OF SECTION 4 OUR PORTFOLIO */

 /* FOOTER */
.footer-class {
    width: 320px;
    background: var(--NAVY-BLUE, linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #2E2F42);
}
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
.footer-content {
    margin-bottom: 72px;
    margin-right: auto;
    margin-left: auto;
}
.footer-logo {
   
        color: var(--IRIS, #4D5AE5);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.footer-sub-logo {
    color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.footer-description {
    
    color: var(--CLOUD, #F4F4FD);
    
        /* Body */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}
.foter-second-content {
    width: 208px;
}
.menu,
.contact-list,
.icon-box,
.hidden-text {
    display: none;
}

.features-section {
    padding: 96px 0;
}

/* MOBILE MENU */
.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms linear;
}

.close-mobile-menu-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    stroke: #2e2f42;
}
.is-open {
    transform: translateX(0%);
}
.mobile-nav-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-top: 72px;
    
}

.mobile-nav-link {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Header 2 */
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.1;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.current-link {
    color: var(--OCEAN, #404BBF);

}
.address-mobile-menu {
    margin-top: 168px;
    /* display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px; */
}
.address-monile-menu-list {
display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.mobile-address-link {
    text-decoration: none;
}
.mobile-address-contact {
    
    color: var(--SLATE, #434455);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
}
.mobile-phone {
    color: var(--IRIS, #4D5AE5);
}


.mobile-social-wrapper{
    margin-top: 48px;
}
.mobile-social-list {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
   
}
.mobile-social-item {
    /* fill: var(--IRIS, #4D5AE5); */
    width: 40px;
    height: 40px;
    /* flex-shrink: 0; */
    /* background-color:var(--IRIS, #4D5AE5); */
    /* border-radius: 50%; */
    /* justify-content: center;
    align-items: center; */
}
.mobile-social-link {
    width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4D5AE5;
        display: flex;
        align-items: center;
        justify-content: center;
}
.mobile-social-icon {
    /* width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center; */
}


/* MOBILE MODAL */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transform: translateX(100%);
    z-index: 9999999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding: 72px 16px 16px 16px;
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    left: 16px;
    transform: translate(-50%, -50%,);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
    transform: translateX(0%);
}
.modal-close-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    border: none;
    stroke: #000000;
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;

}

.modal-top-text {
    width: 256px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.callback-form {
    display: block;
}

.callback-form-field-wrapper {
    margin-bottom: 8px;

}

.callback-form-field-label {
    display: block;
    margin-bottom: 4px;
    color: var(--LIGHT-SLATE, #8E8F99);

    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
}

.callback-form-input-wrapper {
    position: relative;
}

.callback-form-field-input {
    width: 256px;
    height: 40px;
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.callback-form-field-input:focus {
    border-color: #4D5AE5;
}

.callback-form-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;

}

input:focus+svg {
    fill: #4D5AE5;
    border-color: #4D5AE5;
}

.callback-form-comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form-comment:focus {
    border-color: #4D5AE5;
}

.callback-form-field-comment-wrapper {
    margin-bottom: 16px;
}

.privacy-policy {
    margin-bottom: 24px;
    display: block;
}

.user-privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.user-privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.privacy-policy-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-privacy-input:checked+.user-privacy-label>.user-privacy-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.form-submit-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

@media (min-width: 1440px) {
    .container: 1158px;
}

